h1 {
  color: blue;
}
.mainSection {
  display: block;
  margin: 0 auto;
  width: 800px;
  background-color: azure;
  padding-top: 10px;
}
.weekHead {
  text-align: center;
}
.enterCity {
  text-align: center;
}
.footer {
  text-align: center;
}
li {
  text-align: left;
  text-decoration: none;
   list-style: none;
}
.current
{
  background-color: green;
} 
.temperature {
    font-size: 60px;
    display: inline-block;
    padding-left: 0px;
    vertical-align: top;
}

.picture {
    display: inline-block;
    height: 60px;
    margin-top: unset;
    vertical-align: top;
    width: 60px;
}
.pictureBlock{
   display: inline-block;
    vertical-align: top;
    width: 50%;
   }
.units{
   display: inline-block;
    padding-left: 0px;
    vertical-align: top;
       }
      .units .nonlink {
           color: black;
           cursor: default;
       }
        .units .nonlink:hover{
           text-decoration: none;
       }

       .oneday {
           text-align: center;
           color: black;
            }

       
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;

}

.weather-forecast-date {
  font-size: 16px;
  

}

.weather-forecast-date {
  font-size: 18px;
  
}

.weather-forecast-temperature-min {
  
}

.weather-forecast-temperatures {
  font-size: 15px;
}
.colums {
  margin: 0 auto;
  margin-left: 5px;
}

.card-header {
  font-weight: bold;
  color: blue;
}